@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: "General Sans", sans-serif;
}

@layer utilities {
  .c-space {
    padding-inline: 0.3125rem;
  }
  .nav-ul {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.25rem;
    position: relative;
    z-index: 20;
  }
  .nav-li {
    color: theme("colors.neutral.400");
    font-family: "General Sans", sans-serif;
    text-align: start;
    padding-block: 0.125rem;
    transition: color 0.2s ease;
  }
  .nav-li:hover {
    color: theme("colors.white");
    background-color: oklch(0.38 0.01 257.51);
  }
  .nav-li-a {
    font-size: 1.125rem;
    transition: color 0.2s ease;
  }
  .nav-sidebar {
    position: absolute;
    inset-inline: 0;
    background-color: #0e0e10;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 20;
    margin-inline: auto;
    display: block;
  }
  .hero-tag {
    text-align: center;
    font-size: 1.875rem;
    font-family: General Sans, sans-serif;
    font-weight: 900;
    line-height: 1.5;
  }
  .text-gray-gradient {
    background: linear-gradient(
      to right,
      #bec1cf 0%,
      #bec1cf 60%,
      #d5d8ea 60%,
      #d5d8ea 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  .btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.75rem; 
    border-radius: 0.375rem; 
    background-color: #1f1f1f; 
    transition: all 0.2s ease-in-out;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
  }

  .btn:active {
    transform: scale(0.95);
  }
  .btn-ping {
    position: absolute;
    display: inline-flex;
    height: 100%;
    width: 100%;
    border-radius: 9999px; 
    background-color: #4ade80; 
    opacity: 0.75;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .btn-ping-dot {
    position: relative;
    display: inline-flex;
    height: 0.75rem; 
    width: 0.75rem; 
    border-radius: 9999px; 
    background-color: #22c55e; 
  }

  @media (min-width: 40rem) {
    .c-space {
      padding-inline: 0.625rem;
    }
    .nav-ul {
      flex-direction: row;
    }
    .nav-li:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .nav-li {
      width: 100%;
      border-radius: 0.375rem;
      padding-inline: 1.25rem;
    }
    .nav-sidebar {
      display: none;
    }
    .hero-tag {
      font-size: 2.25rem;
    }
  }
  @media (min-width: 48rem) {
    .nav-ul {
      gap: 0.375rem;
    }
    .nav-li-a {
      font-size: 1rem;
    }
    .hero-tag {
      font-size: 3rem;
    }
  }
  @media (min-width: 80rem) {
    .hero-tag {
      font-size: 3.75rem;
      line-height: 1;
    }
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(9deg);
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}